{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}
    <h1>My feeds</h1>
    <div class="container">
        {% for el in contents %}
            <div class="card">
                <img src="{{ el.channel.image }}" alt="{{ el.channel.name }}">
                <h3>{{ el.title }}</h3>
                <p>{{ el.description }}</p>
                <p><a href="{{ el.link }}">Check It!</a></p>
            </div>
        {% empty %}
            <p>There is no content.</p>
        {% endfor %}
        <p><a href="">Enroll to channel</a></p>
    </div>
{% endblock %}