{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}
    <h1>My feeds</h1>
    <div class="container">
        {% for content in object_list %}
            <div class="card">
                <img src="{{ content.channel.image }}" alt="{{ content.channel.name }}"/>
                <h3>{{ content.title }}</h3>
                <p>{{ content.description }}</p>
                <p><a href="{{ content.link }}">Check It!</a></p>
            </div>
        {% empty %}
            <p>There is no content.
                <a href="{% url 'channel_list' %}">Look at the available channels</a>
                 and choose those you would like to follow
            </p>
        {% endfor %}
    </div>
{% endblock %}